@import url('https://fonts.googleapis.com/css?family=Comfortaa|Shadows+Into+Light&display=swap');

body {
  margin: 0;
  color: #000;
  font-family: verdana, sans-serif;
}

.intro-container {
  background-color: #a3d7f0;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.center-container {
  text-align: center;
  margin: 0 auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px;
  text-align: center;
  margin-top: 50px;
}

.social-media-links {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.social-media-links a {
  margin: 20px;
}

.intro-salute {
  margin: 50px auto 0 auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 62px;
}

.intro-description {
  font-family: 'Comfortaa', cursive;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile {
  margin: 35px auto;
  width: 75%;
}

.profile>h2 {
  font-size: 3rem;
  color: #11999e;
}

.profile>img {
  margin-top: 30px;
}

.skills {
  margin: 20px auto;
}

.skills>h2 {
  font-size: 3rem;
  color: #11999e;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row>h3 {
  color: #11999e;
  margin-top: 30px;
}

.web-dev-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.data-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.skill-row>p {
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #cccccc;
  border-width: 10px;
  width: 5%;
  margin: 100px auto;
}

.contact-me h2 {
  font-size: 3rem;
  color: #11999e;
}

.contact-me > p {
  margin-bottom: 50px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(#66BFBF, #11999E);
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin: 50px auto 60px;
}

.btn:hover {
  background: linear-gradient(#30e3cb, #2bc4ad)
}

.copyright {
  color: #eaf6f6;
  font-size: .75rem;
  display: block;
  margin: auto;
  padding: 20px 0;
}
